@media screen and ( max-width:576px) {
    /*header section*/
    nav .hamburger{
    display:block ;
    color: black;
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 25px;
}
.header-h1{
    position: absolute;
    left: 40px;
}
.navbar, .nav-btn{
    display: none;
}

/*banner rounded shape*/
.banner-section .rounded{
    width: 260px;
    height: auto;
    position: relative;
    left: 125px;
    top: 60px;}
 .banner-section .mic{
    width: 70px;}

 .banner-section span{
    left: 310px;
 } 
 
 /*about section*/
.about-bg{
 padding-top: 20px;
}
.about h1{
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 10px;
}
.card-container{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;
 padding: 0px 20px 40px 20px ;

}
.card-container h1{
    font-size: 48px;}


    /*Why section*/
.why-section{

    width: 100%;
    min-height: 500px;
    padding: 40px 20px 40px 20px;}


.section-header h2{
font-size: 40px;
}
.exclusive-card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:16px;}

.box-5,.box-1{
    background-color: #351165;
    color: #ffffff;
    padding: 24px;
    border-radius: 40px;
    grid-column: span 3;}


/* featured section*/
.featured-section{
    padding: 40px 20px;
}
.featured-card{
    flex-direction: column;
    align-items: center;
}
/*host Section*/
.host-section{
padding: 20px 24px 20px 24px;


}
.host-section h3{
font-size: 38px;
    font-weight: 600;
}

.host-div{
width: 400px;
height: 483px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 16;
padding: 24px;
position: relative;
right: 80px;

}
.host-div-2{

    align-items: center;
    text-align: center;
    justify-content: center;

}
.socials{
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
}
/*footer section*/
.footer-section{
    min-height: 200px;
}



.footer-section h2{
    font-size: 50px;
     padding-top: 10px;
}
.footer-main{
display: grid;
grid-template-columns:repeat(2,1fr);
gap: 2px;
font-size: larger;
align-items: center;
}

.social-2{
    color: rgb(156, 155, 155);
display: block;
font-size: 18px;
color: rgb(195, 191, 191);
padding-top: 15px;

}
.last-h2{
    padding-top: 40px;
font-size: 50px;
padding-bottom: 0px;
}
.footer-section p{padding-bottom: 20px;
}
}











