@media screen and ( max-width:576px) {
    /*header section*/
    nav .hamburger{
    display:block ;
    color: black;
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 25px;
}
.header-h1{
    position: absolute;
    left: 40px;
}
.navbar, .nav-btn{
    display: none;
}

/*banner rounded shape*/
.banner-section .rounded-mic-parent .rounded-shape{
    width: 300px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 80%;
     transform: translate(-50%, 4%);}

     .banner-section .rounded-mic-parent span{
    left: 300px;}

 
 /*about section*/
.about-bg{
 padding-top: 20px;
}
.about h1{
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 10px;
}
.card-container{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;
 padding: 0px 20px 40px 20px ;

}
.card-container h1{
    font-size: 48px;}


    /*Why section*/
.why-section{

    width: 100%;
    min-height: 500px;
    padding: 40px 20px 40px 20px;}


.section-header h2{
font-size: 40px;
}
.exclusive-card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:16px;}

.box-5,.box-1{
    background-color: #351165;
    color: #ffffff;
    padding: 24px;
    border-radius: 40px;
    grid-column: span 3;}


/* featured section*/
.featured-section{
    padding: 40px 20px;
}
.featured-card{
    flex-direction: column;
    align-items: center;
}
/*host Section*/
.host-section{
padding: 20px 24px 40px 24px;


}
.host-section h3{
font-size: 38px;
    font-weight: 600;
}

.host-div{
width: 400px;
height: auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 16;
padding: 24px;
position: relative;
right: 80px;


}
.host-div-2{

    align-items: center;
    text-align: center;
    justify-content: center;

}
.socials{

align-items: center;
    justify-content: center;
    padding-bottom: 24px;
    position: relative;
    bottom: -10px;
    right: 40px;
}
.host-div h1{
    margin-bottom: 8px;
    margin-top: 6px;
}


.host-div-2 p{
    color: hsl(0, 1%, 37%);
    font-size: 16px;
    padding-bottom: 18px;
margin-bottom: 0px;
width: 320px;
}



/*footer section*/
.footer-section{
    min-height: 200px;
}



.footer-section h2{
    font-size: 50px;
     padding-top: 10px;
}
.footer-main{
display: grid;
grid-template-columns:repeat(2,1fr);
gap: 2px;
font-size: larger;
align-items: center;
}

.social-2{
    color: rgb(156, 155, 155);
display: block;
font-size: 18px;
color: rgb(195, 191, 191);
padding-top: 15px;

}
.last-h2{
    padding-top: 40px;
font-size: 50px;
padding-bottom: 0px;
}
.footer-section p{padding-bottom: 20px;
}
}


/*
Large Device: above 992 px*/

@media screen and (min-width:992px){

.banner-section .rounded-mic-parent span{
 left: 560px;}
.featured-card{

    display: flex;
flex-wrap: wrap;
    gap: 30px;
    margin-top: 25px;
justify-content: center;
    align-items: center;
}

.banner-section .rounded-mic-parent span{


    background-color: #00FF88;
    padding: 6px 18px ;
    border-radius: 1000px;
    color: black;
    font-weight: 500;
    display: inline-block;
    position: absolute;
    left: 55%;
    top: 20px;
}
}




/*medium device */
@media (min-width: 576px) and (max-width: 991px) {

.card-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);

    gap: 10px;
padding-bottom: 120px;
padding-left: 30px;
text-align: center;
}

.host-div {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.host-div img{
position: relative;
left: 10px;

}
.featured-card{
flex-direction: column;
padding-left: 130px;

}


.circle{
border: none;
padding: 8px;
border-radius: 70%;
}

.banner-section .rounded-mic-parent span{


    background-color: #00FF88;
    padding: 6px 18px ;
    border-radius: 1000px;
    color: black;
    font-weight: 500;
    display: inline-block;
    position: absolute;
    left: 55%;
    top: 20px;}
    
    
}










