nav .hamburger{
    display:none ;
}


/*About section*/
.about-bg{
 background-color: #1c0b31;
 padding-top: 150px;
}
.about{
   
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px 80px 120px;
}
.about h1{
    font-size: 65px;
    font-weight: bold;
}
.about p{
    color: #b1afaf;
}

/*ABOUT CARD section*/
.card-container{
    display: flex;
    gap: 200px;
padding-bottom: 120px;
padding-left: 30px;
text-align: center;

}
.card-container h1{
    font-size: 30px;
    color:#00FF88;
    font-weight: 800;
}
.card-container p{
    color: #ffffff;
    text-align: center;
}
/*banner section*/

.banner{background-image: url(../assets/hero-bg.png);
    background-size: cover;
background-position: center;
background-repeat: no-repeat;
min-height:466px;

}
.re-banner{
    justify-content: center;
    align-items: center;
    text-align: center;

}

.banner-section h1{
    font-weight: 700;
    font-size: 55px;
    color: #ffffff;

}
.banner-section p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}
.btn{
    padding: 10px 25px;
border-radius: 10000px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
font-size: 16px;
font-weight: 600;
color: white;
 display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.btn-2{
    border:#00FF88 1px solid ;
    border-radius: 10000px;
    padding:10px 25px;
    gap: 8px;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
/*Rounded part*/
.rounded-mic-parent{
    position: relative;
}
.banner-section .rounded{
    width: 280px;
    height: auto;
    position: relative;
    left: 500px;
    top: 60px;

    

}
.banner-section .mic{
    width: 95px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}
.banner-section span{
    background-color: #00FF88;
    padding: 6px 18px ;
    border-radius: 1000px;
    color: black;
    font-weight: 500;
    display: inline-block;
    position: absolute;
    left: 710px;
    top: 70px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

/*Why section*/
.why-section{
    background-color: rgba(35, 14, 61, 1);
    width: 100%;
    min-height: 500px;
    padding: 120px 100px;
    
}


.section-header h2{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
}
.exclusive-card{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap:16px;
}

.exclusive-card h3{
    font-size: 22px;
    font-weight: 800;
}
.exclusive-card p{
    font-size: 15px;
    color: rgb(164, 164, 163);
}

/*box editing*/

.box-1{
    background-color: #351165;
    color: #ffffff;
    padding: 24px;
    border-radius: 40px;
    grid-row: span 2;


}
.box-2{
    background-color: #351165;
    color: #ffffff;
    padding: 24px;
    border-radius: 40px;
    grid-column: span 3;

}
.box-3{
    background-color: #351165;
    color: #ffffff;
    padding: 24px;
    border-radius: 40px;
    grid-column: span 3;

}

.box-4{
    background-color: #351165;
    color: #ffffff;
    border-radius: 40px;
padding: 24px;
grid-column: span 3;}

.box-5{
    background-color: #351165;
    color: #ffffff;
    padding: 24px;
    border-radius: 40px;

}

/*Featured Section*/
.featured-section{
    background-color: #1A0B2E;
    padding: 100px 80px;
    min-height: 600px;
}

.featured-card{
    display: flex;
    gap: 30px;
    margin-top: 25px;
}
.featured-section h3{
    color: #ffffff;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}
.featured-section h4{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}
.featured-section p{
    font-size: 16px;
    font-weight: 400;
    color: #8a8a8a;
}

.ybtn{
    color: #00FF88;
}
.yt-work{

    background-color: #351165;
    width: 350px;
height: 226px;
padding: 24px;
border-radius: 0px 0px 24px 24px;
}
.br{
    border-radius:24px 24px 0px 0px;
}


/* host section*/
.host-section{
    background-color: #1A0B2E;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.host-section h3{
    color: aliceblue;
font-weight: bold;
font-size: 48px;
text-align: center;

}


.host-div{
    background-color: #351165;
    margin-left: 100px;
    margin-right: 150px;
    margin-top: 40px;
    border-radius: 20px;
    padding: 40px;
    gap: 12px;
display: flex;


}
.socials{
    display: flex;
    gap: 10px;
    cursor: pointer;

}
.circle{
border: 2px solid #504d01;
padding: 12px;
border-radius: 70%;

}

/*Footer section*/
.footer-section{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
background-position: center;
background-repeat: no-repeat;

    min-height: 412px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.last-h2{
    padding-top: 100px;
    padding-bottom: 40px;
}

.social-2{
    color: rgb(156, 155, 155);
    display: flex;
    align-items: center;
    justify-content: center;
gap: 40px;
    font-size: 16px;
    font-weight: 300;
}
.footer-section p{
    color: rgb(148, 148, 148);
font-size: 14px;
font-weight: 300;
padding-top: 20px;
}


/* Animation*/
.btn{
  margin: 10px;
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 1000px;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  left: 0;
  top: 0;
  border-radius: 1000px;
}

.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 1000px;
  opacity: 1;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}
 /* 2nd animation*/

 .btn-2 {
  margin: 10px;
  padding: 15px 40px;
  border: 1px solid #00FF88;
  outline: none;
  color:#00FF88;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 1000px;
}
.btn-2::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 1000px;
}

.btn-2::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #007bff,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(5px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 1000px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}


.btn-2:hover::before {
  opacity: 1;
}

.btn-2:active:after {
  background: transparent;
}

.btn-2:active {
  color: #000;
  font-weight: bold;
}


.nav-btn {
  margin: 0px;
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 1000px;
}
.nav-btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
background-color:var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  left: 0;
  top: 0;
  border-radius: 1000px;
}

.nav-btn::before {
  content: "";
  background: linear-gradient(
    45deg,
   #FF00C8,#6f01ff,#FF7300,
    #fee500,#FF00C8,#6f01ff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 60s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 1000px;
  opacity: 1;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}




